* { margin: 0; padding: 0; box-sizing: border-box; font-family: Ufes Sans;}

body{
    background: gray;
    overflow-x: hidden;
}

.mobile-device{
    height: 720px;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    background: url(../img/mapa.png) no-repeat;
    background-color: white;
    background-size: cover;
    position: absolute;
    padding-bottom: 10px;
}

[data-screen="1"] .info-ponto{
    visibility: hidden;
    transform: translate3d(0,50px,0);
    z-index: 1;
}

[data-screen="1"].act{
    background-size: 540px auto;
    transition: all .3s;
    display: block;
}

[data-screen="1"]{
    display: none;
}


[data-screen="1"] .info-ponto.act{
    visibility: visible;
    transform: translate3d(0,0,0);
    transition: .3s;
}

.hide{
    visibility: hidden;
}

.android-bar{
    height: 25px;
    background: url(../img/android-bar.svg) no-repeat;
}

.btn-menu{
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background: #fff;
    display: block;
    z-index: 3;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    cursor: pointer;
    padding: 6px;
    margin: 15px;
    color: #676565;
}

.btn-menu span{
    display: block;
    height: 3px;
    width: 20px;
    margin: 9px auto;
    background: currentColor;
    &::after, &::before{
        content:'';
        display: block;
        height: 3px;
        width: 20px;
        margin: 7px auto;
        position: absolute;
        background: currentColor;
    }

    &::after{
        margin-top: 14px;
    }
}

.info-ponto{
    height: 110px;
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    background: #777;
    color: #fff;
    top: 450px;
    z-index: 2;
    display: flex;
    justify-content: space-between;

    .cta > *{
        float: right;
    }

    span{
        font-size: 14px;
        font-weight: bold;
    }

    p{ 
        font-size: 12px; 
        line-height: 1.5em; 
        max-width: 180px;
        margin-bottom: 10px;
    }

    .icon{
        height: 36px;
        width: 36px;
        background-color: #fff;
        background-image: url(../img/fav-icon.svg);
        background-size: 28px 28px;
        background-position: center;
        display: block;
        border-radius: 100%;
        cursor: pointer;
    }
    
    button{
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin-top: 15px;
        background: #fff;
        cursor: pointer;
    }

    .back{
        display: block;
        height: 16px;
        width: 16px;
        background: url(../img/seta-icon.svg) no-repeat;
        background-size: cover;
        margin-top: 6px;
        cursor: pointer;
    }

    .cta{
        float: right;
    }

    .icon{
        display: block;
        float: none;
        margin-bottom: 10px;
    }
}

.features{
    height: 160px;
    width: 360px;
    background: #fff;
    position: absolute;
    bottom: 0;
    z-index: 2;

    span.i{
        text-align: center;
        display: block;
        font-size: 14px;
        padding: 10px 0;
        background: #F5F5F5;
        color: #676565;
    }
    

    .search {
        position: relative;

        input{
            display: block;
            width: 320px;
            background: #F5F5F5;
            border: none;
            padding: 10px 10px;
            margin: 15px auto;
        }

        .icon{
            display: block;
            height: 20px;
            width: 20px;
            top: 7px;
            right: 30px;
            background: url(../img/search-icon.svg);
            position: absolute;
            cursor: pointer;
        }
    }

    .fav{
        display: flex;
        width: 320px;
        margin: 0 auto 0px auto;
        padding: 10px 0;
        border-top: 1px solid #f1f3f4;
        justify-content: space-between;

        .item{
            display: flex;
            font-size: 14px;
            .icon{
                height: 36px;
                width: 36px;
                background-color: #f1f1f1;
                background-image: url(../img/fav-icon.svg);
                background-size: 28px 28px;
                background-position: center;
                display: block;
                border-radius: 100%;
                margin-right: 8px;
            }

            div{
                span{ font-weight: bold;}
            }
        }
    }
}

.coleta{
    height: 660px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
        
        .usuario{
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 100%;
            background: #4285F4;
            box-shadow: 0px 0px 0px 15px rgba(66,133,244,.16);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .ponto{
            height: 25px;
            width: 25px;
            background: url(../img/pontos-de-coleta.svg) no-repeat;
            background-size: cover;
            border-radius: 100%;
            cursor: pointer;
            position: absolute;
            top: 220px;
            left: 220px;

            &.act{
                height: 50px;
                width: 50px;
                top: 220px - 25;
                bottom: 220px - 25;
                transition: all .3s;
            }
        }
}


.mobile-device[data-screen="2"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 5;
    visibility: hidden;
    background: #fff;
    transition: all .5s;
    &.act{ 
        visibility: visible; 
        margin-left: 0;
        transition: .3s;
        opacity: 1;
    }

    .info-ponto{
        height: 110px;
        width: 100%;
        padding: 10px 20px;
        position: absolute;
        background: #777;
        color: #fff;
        top: 23px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
    }

    .info-horario{
    display: block;
    width: 340px;
    margin: 120px 10px 20px 10px;

    span.titulo{
        display: block;
        font-size: 14px;
        padding: 10px 10px;
        margin-bottom: 10px;
        background: #F5F5F5;
        color: #676565;
        
            &:nth-of-type(2){
                margin-top: 40px;
            }

        }

    div{ 
        display: flex; 
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #f1f3f4;
    }

    .descricao{
        font-size: 10px;
    }

    button{
        display: block;
        height: 48px;
        width: 140px;
        border: none;
        padding: 10px 20px;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 20px;
    }

    }

}

